/* index.css is the app's global stylesheet */
:root {
  /* Sets up CSS custom variables */
  --background-color: #e2e2e2;
  --foreground-color: #ffffff;
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #202020;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
  --footer-bg: #f5f5f5;
  --footer-border: #ddd;
  --tech-tag: rgb(233, 233, 233);
  --tech-tag-font: #333;
  --box-border-color: #aaa;
  --link-box-bg-color: #e7e7e7;
  --exp-row-border-color: #e0e0e0;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Values for dark theme */
[data-theme="dark"] {
  --background-color: #121214;
  --foreground-color: #1A1A1E;
  --primary-text-color: #c9c9c9;
  --secondary-text-color: #5a5a5a;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
  --footer-bg: #2a2a2a;
  --footer-border: #0c0c0c;
  --tech-tag: rgb(71, 71, 71);
  --tech-tag-font: rgb(231, 231, 231);
  --box-border-color: #0c0c0c;
  --link-box-bg-color: #0e0e0e;
  --exp-row-border-color: #555555;
}

.black-box {
  background-color: black !important;
  color: white; /* For text contrast */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
